/* header, main, footer {
  padding-left: 240px;
}

.sidenav { */
  /* background-color: red !important; */
  /* opacity: .5; */
/* }

#main {
  background-color: green !important;
  transition: margin-left 0.5s;
  padding: 16px; 
}
@media only screen and (max-width : 992px) {
  header, main, footer {
    padding-left: 0;
  }
} */

/* #content {
  background-color: white !important;
  padding: 0px;
  opacity: 1 !important;
}

#sidePost{
    position: -webkit-sticky;
    position: sticky;
    position: fixed;
    top: 100px; */
    /* background-color: black !important;  */
/*     
  } */

  .bounce:hover {
    display: inline-block;
    position: relative;
    -moz-animation: bounce 0.5s infinite linear;
    -o-animation: bounce 0.5s infinite linear;
    -webkit-animation: bounce 0.5s infinite linear;
    animation: bounce 0.5s infinite linear;
    colr:000;
  }

  @-webkit-keyframes bounce {
    0% { top: 0; }
    50% { top: -0.2em; }
    70% { top: -0.3em; }
    100% { top: 0; }
}
@-moz-keyframes bounce {
    0% { top: 0; }
    50% { top: -0.2em; }
    70% { top: -0.3em; }
    100% { top: 0; }
}
@-o-keyframes bounce {
    0% { top: 0; }
    50% { top: -0.2em; }
    70% { top: -0.3em; }
    100% { top: 0; }
}
@-ms-keyframes bounce {
    0% { top: 0; }
    50% { top: -0.2em; }
    70% { top: -0.3em; }
    100% { top: 0; }
}
@keyframes bounce {
    0% { top: 0; }
    50% { top: -0.2em; }
    70% { top: -0.3em; }
    100% { top: 0; }
}

#sidePost:hover {
  cursor: pointer;
  animation-name: bounce;
  -moz-animation-name: bounce;
}
/* 
#create-icon{
  color: red;
} */
